body{
    background-color:lightblue;
    display:flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    text-align: center;
}
.listWindow {
    text-align:left;
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    height: 80vh;
    width: 80%;
    max-width: 100vw;
    flex-grow: 1;
}
#messages-list {
    list-style: none;
    max-height: 100%;
    overflow-y: scroll;
    flex-grow:1;
    padding:0;
}
#messages-list li {
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    overflow-wrap: break-word;
}
.inputs{
    width: 100%;
    display:flex;
}
#message-box{
    flex-grow:1;
}